body {
  border: 0;
  color: $font-color;
  font-family: $base-font;
  margin: 0;
  min-height: 100vh;
  outline: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  background: none;
  border: 0;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
  margin: 0;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:focus {
  outline: 0;
}

$icon-size: px(24);
$icon-color: $font-color;

a svg,
button svg,
label svg {
  pointer-events: none;
}

.icon {
  fill: $icon-color;
  height: $icon-size;
  width: $icon-size;
}

.svg-holder {
  display: none;
}
