$dialog-expanded-bg-color: #fff;

.dialog {
  &-holder {
    background-color: rgba(105, 114, 123, .86);
    display: none;
    height: 100vh;
    left: 0;
    padding: 0 2rem;
    position: absolute;
    top: 0;
    width: 100vw;

    &.show {
      display: block;
    }

    @include desktopXL {
      background-color: transparent;
      height: initial;
      padding: 0;
      position: initial;
      width: initial;
    }
  }

  &-expanded {
    background-color: $dialog-expanded-bg-color;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 300px);
    max-height: initial;
    max-width: 900px;
    overflow: auto;

    @include desktopXL {
      height: 100vh;
      left: 0;
      margin-left: 50vw;
      margin-top: 0;
      max-width: initial;
      position: fixed;
      top: 0;
      width: 50vw;
    }

    .padding-box {
      height: 100%;
      margin-bottom: 2rem;
      overflow: auto;
    }

    .button-holder {
      text-align: right;

      @include desktop {
        text-align: initial;
      }
    }

    &-container {
      padding-bottom: 1.5rem;

      h1 {
        padding-bottom: .6rem;
      }

      h2 {
        padding-bottom: .3rem;
      }

      .callout {
        margin: .8rem 0;
      }
    }

    &-list {
      margin-bottom: 1.2rem;

      li {
        align-items: center;
        display: flex;
        margin: .5rem 0;
      }

      .icon {
        height: 1.3rem;
        width: 1.3rem;
      }
    }

    &-full-image {
      border-radius: 3px;
      max-width: 600px;
      padding: .5rem;

      @include desktopXL {
        max-width: initial;
      }

      img {
        border-radius: 3px;
        display: block;
        height: auto;
        width: 100%;
      }
    }
  }
}
