$dialog-expanded-bg-color: #fff;

.dialog {
  &-holder {
    background-color: rgba(88, 119, 232, .86);
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  &-expanded {
    background-color: $dialog-expanded-bg-color;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50vh - 300px);
    max-width: 900px;
    padding: 2rem;
    overflow: auto;
  }
}
