$tooltip-info-bg-color: #00ffff;

.tooltip {
  &-info {
    position: absolute;
    visibility: hidden;

    .margin-box {
      margin-left: 11px;
      margin-top: -30px;
    }

    .padding-box {
      background-color: $tooltip-info-bg-color;
      padding: .2rem;
    }
  }
}
