<!doctype html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/svg-holder %>
    <div id="wrapper" class="wrapper">
      <h1 style="text-align: center;font-size: 76px;display: flex;margin-left: auto;margin-right: auto;align-self: center;margin-bottom: 9rem;">The Tower of Babel</h1>
    </div>
    <script src="<%= jsPath %>"></script>
  </body>
</html>
