<!doctype html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/svg-holder %>
    <div id="wrapper" class="wrapper">
      Hello
    </div>
    <script src="<%= jsPath %>"></script>
  </body>
</html>
